language: perl
perl:
    - "blead"
    - "5.22"
    - "5.20"
    - "5.18"
    - "5.16"
    - "5.14"
    - "5.12"
    - "5.10"

os:
    - linux

sudo: required

before install:
    - git clone https://github.com/travis-perl/helpers ~/travis-perl-helpers
    - source ~travis-perl-helpers/init --auto
